fastapi[all]                # Web framework
pydantic                    # Runtime type validation
uvicorn                     # Process manager for our Gunicorn server processes
mypy                        # Static type checking
sqlalchemy[asyncio]         # db orm
black                       # Formatting
flake8                      # Linting and code standards
pytest                      # Testing
pytest-cov                  # Test coverage 
pytest-asyncio              # To allow async tests
bandit                      # Check for known security mistakes
isort                       # Sort imports
aiosqlite                   # Driver to allow async sqlite connections.